@use "./../foundation/global" as *;

.l-footer {
  z-index: 1;
  position: fixed;
  padding-bottom: 2rem;
  bottom: 0;
  padding: 2rem;
  padding-top: 0;
  // left: 2px;

  background-color: $c-base;

  &__inner {
    height: 4rem;
    width: calc(100vw - 5rem - 2px);

    border-top: 1px solid;
    border-bottom: 1px solid;
    border: 1px solid;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
    @include mq(sm) {
      gap: 0;
      padding-right: 1rem;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 1.5rem;
    @include mq(sm) {
      visibility: hidden;
      padding: 0;
    }
  }
  &__icon {
  }
  &__credit {
    @include mq(sm) {
      // font-size: 10px;
      letter-spacing: 0.2em;
    }
  }
}
