@use "./../foundation/global" as *;

.l-header {
  z-index: 1;
  position: fixed;
  background-color: $c-base;
  padding: 2rem 3rem 0 2rem;

  &__inner {
    width: calc(100vw - 5rem - 2px);
    display: grid;
    grid-template-columns: 4rem calc(100vw - 21rem) 12rem;
    grid-template-columns: 4rem 1fr 12rem;
    border: 1px solid;
  }

  &__logo {
    grid-row: 1/1;
    grid-column: 1/1;
    height: 4rem;
    background-color: $c-base;
  }

  &__text-area {
    grid-row: 1/1;
    grid-column: 2/2;

    font-size: 4rem;
    overflow: hidden;
    height: 4rem;
    // margin-left: -1px;
  }
  &__contents {
    grid-row: 1/1;
    grid-column: 3/3;
    // border: 1px solid;
    border-left: solid 1px;
    height: 4rem;
    background-color: $c-base;
    color: $c-main;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
  }
  &__contents:hover {
    background-color: $c-main;
    color: $c-base;
  }
}
