@use "./../foundation/global" as *;
.l-scroll {
  &__area {
    overflow: hidden;
    @include mq(md) {
      margin-top: 6rem;
      padding-top: 2rem;

      overflow: auto;
    }
  }
  &__wrap {
    display: flex;
    @include mq(md) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  // scrolledPanel
  &__item {
    // background-color: $c-main;
    height: 100vh;
    @include mq(md) {
      height: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(md) {
      flex-direction: column;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: right;
    align-items: center;
    @include mq(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__list-item {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20rem;
    height: 100%;
    height: 80vh;
    height: calc(100vh - 16rem);
    @include mq(md) {
      width: 40%;
      height: 50vh;
    }
  }

  &__item.first {
    // background-color: $c-main;
    padding-left: 32rem;
    padding-right: 2rem;
    @include mq(md) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__mv {
    width: 94%;
    height: calc(100vh - 16rem);
    @include mq(md) {
      height: 100%;
    }
  }

  &__item.center {
    // background-color: $c-main;
  }

  &__item.last {
    // background-color: $c-main;
    // color: $c-base;
    padding-left: 32rem;
    padding-right: 2rem;
    @include mq(md) {
      padding-left: 2rem;
      padding-right: 2rem;
      visibility: hidden;
    }
  }
}
