@use "./../../foundation/global" as *;

.c-timeline {
  width: 80%;
  justify-self: center;
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
  }
  &__date {
    width: 200px;
    font-size: 24px;
    text-align: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    border-left: solid 2px;
    padding-left: 32px;
    padding-bottom: 32px;
    width: 600px;

    position: relative;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: $c-main;
      position: absolute;
      left: -7px;
      top: 8px;
      border-radius: 100%;
    }
  }
  &__heading {
    font-size: 24px;
  }
  &__desc {
    margin-top: 1rem;
  }
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media (min-width: 640px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 2px $c-main solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #6fc173;
    background-color: $c-main;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
