<% let path = jsonData.pages[pageId].path %>

<!-- aside -->
<aside class="l-aside"></aside>
<aside class="l-aside__right"></aside>
<!-- aside -->
<!-- footer -->
<fotter class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__icons">
      <figure class="l-fotter-new__icon">
        <a href="">
          <img src="<%= path %>assets/images/common/github.svg" alt="github" />
        </a>
      </figure>
      <figure class="l-fotter-new__icon">
        <a href="">
          <img
            src="<%= path %>assets/images/common/twitter.svg"
            alt="twitter"
          />
        </a>
      </figure>
    </div>

    <small class="l-footer__credit"> © Takayuki Takahashi </small>
  </div>
</fotter>
<!-- /footer -->
